/*--------------------------
        RESET
--------------------------*/
*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*--------------------------
        DEBUG
--------------------------*/
.container-main
{
    border: 2px dashed black;
}
/*--------------------------
        GENERAL
--------------------------*/
.body
{
    min-width: 1200px;
}
button
{
    background-color: transparent;
    color: white;
}
img
{
    max-width: 100%;
}
button
{
    
}
.heart
{
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    background-color: white;
    position: absolute;
    top: 3%;
    right: 2%;
}
.discount
{
    display: inline;
    padding: 5px 10px;
    color: white;
    font-weight: bold;
    background-color: red;
}
.sostenibility
{
    display: inline;
    padding: 5px 10px;
    color: white;
    font-weight: bold;
    background-color: green;
}
.disc-sost
{
    position: absolute;
    bottom: 20%;
}
h4
{
    display: inline;
}
.lined
{
    text-decoration: line-through;
}
.red-text
{
    color: red;
}
/*--------------------------
        HEADER
--------------------------*/
header
{
    background-color: orangered;
}
.container-header
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
}
.boolean
{
    height: 25px;
}
/*--------------------------
            MAIN
--------------------------*/
main
{
    display: flex;
    justify-content: center;
}
/*--------------------------
        CONTAINER-MAIN
--------------------------*/
.container-main
{
    width: 1200px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.row-up
{
    display: flex;
}
.row-down
{
    display: flex;
}
.first-up-card
{
    width: calc(100% / 3);
    padding: 5px 10px;
    position: relative;
}
.second-up-card
{
    width: calc(100% / 3);
    padding: 5px 10px;
    position: relative;
}
.third-up-card
{
    width: calc(100% / 3);
    padding: 5px 10px;
    position: relative;
}
.first-down-card
{
    width: calc(100% / 3);
    padding: 5px 10px;
    position: relative;
}
.second-down-card
{
    width: calc(100% / 3);
    padding: 5px 10px;
    position: relative;
}
.third-down-card
{
    width: calc(100% / 3);
    padding: 5px 10px;
    position: relative;
}
/*--------------------------
        CONTAINER-FOOTER
--------------------------*/
footer
{
    background-color: darkslategray;
}
.container-footer
{
    display: flex;
    justify-content: space-between;
    align-items: center;    
}